<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body>
    {{> navBar}}
    <br>
        <div class="row">
            <div class="col-8">
                <h1>Bepis Man</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem obcaecati unde laborum, illo vitae, repudiandae dolores quasi reiciendis minima ipsum commodi veniam culpa, porro facere fugiat officia! Esse, reiciendis natus.</p>
            </div>
            <div class="col-4">
                <img src="assets/img/img1.jpg" class="img-thumbnail">
            </div>
        </div>
    {{> footer}}
</body>
</html>